@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  background-color: var(--background-red);
  color: var(--text-light);
  padding: 0.6rem;
  border-radius: 4rem;
  width: 80vw;
  border: none;
  cursor: pointer;
  -webkit-animation: pulse 1s infinite; /* Chrome, Safari, Opera */
  animation: pulse 1s infinite;
}

.paragraph {
  font-weight: bold;
  font-size: 1.4rem;
}

.container {
  margin-top: 1rem;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.6rem;
  color: var(--text-light);
}

.content p {
  color: var(--text-light);
}

.content p span {
  font-weight: bold;
  color: var(--text-light);
}
.p {
  color: var(--text-light);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .button {
    padding: 0.8rem;
    width: 20vw;
  }
  .content p {
    margin-right: 1rem;
  }
}
