.main {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}

.header {
  background-image: url("/images/casal_olhando_um_para_o_outro.jpg");
  background-size: cover;
  background-position: center;
  width: 100% auto;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
}

.header h1 {
  color: var(--text-light);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -5rem;
  padding: 0.6rem;
}
.header h1 span {
  color: var(--text-red);
}

@media (min-width: 768px) {
  .header h1 {
    font-size: 2.3rem;
    top: -4rem;
    padding: 2rem;
  }
}

.introduction {
  background-image: url("/images/vista-lateral-mulher-ansiosa-em-casa.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.introduction p {
  color: var(--text-light);
  padding: 1rem;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .introduction p {
    font-size: 2rem;
    padding: 3rem;
  }
  .paragraph {
    font-size: 0.5rem;
  }
}

.problem_demonstration {
  background-image: url("/images/marido-e-mulher-brigando.jpg");
  background-size: cover;
  background-position: center;
  width: 100% auto;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: left;
}

.problem_demonstration p {
  font-size: 1.3rem;
  padding: 1rem;
  color: var(--text-light);
}

.problem_demonstration p span {
  color: var(--text-red);
}

@media (min-width: 768px) {
  .problem_demonstration p {
    font-size: 2rem;
    padding: 3rem;
  }
}

.sales_video {
  background-color: var(--background-black);
}

.product_presentation {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: left;
}

.product_presentation p {
  padding: 1.5rem;
  font-size: 1.3rem;
}

.product_presentation p span {
  color: var(--text-red);
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

@media (min-width: 768px) {
  .product_presentation {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .product_presentation p {
    font-size: 2rem;
    padding: 3rem;
    box-sizing: border-box;
  }

  .imageContainer,
  .text {
    width: 50%;
  }
}

.product_details {
  background-color: var(--background-black);
  text-align: left;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_details p {
  color: var(--text-light);
  font-size: 1.3rem;
}
.product_details p span {
  color: var(--text-red);
}

@media (min-width: 768px) {
  .product_details {
    padding: 3rem;
  }
  .product_details p {
    font-size: 2rem;
  }
}

.more_product_details {
  background: var(--background-black);
  color: var(--text-light);
  padding: 1.5rem;
  text-align: left;
  font-size: 1.2rem;
}

.more_product_details span {
  color: var(--text-red);
}

@media (min-width: 768px) {
  .more_product_details {
    font-size: 1.8rem;
    padding: 3rem;
  }
}

.guarantee {
  background-color: var(--background-grey);
  font-size: 1.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guarantee p {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.guarantee span {
  color: var(--text-red);
}

@media (min-width: 768px) {
  .guarantee {
    font-size: 1.8rem;
    padding: 2rem;
  }
  .guarantee p {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}

.call_for_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-black);
  height: 100vh;
  padding: 0 1.5rem;
}

.call_for_action span {
  color: var(--text-red);
}

.call_for_action h2 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-light);
}

@media (min-width: 768px) {
  .call_for_action {
    height: 100vh;
    padding: 0 4rem;
  }

  .call_for_action h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-light);
    text-align: center;
  }
}

.footer {
  background-color: var(--background-grey);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.footer p {
  font-size: 0.9rem;
}

.copyright {
  height: 36vh;
  background-color: var(--background-black);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1.5rem;
}

.copyright p {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.copyright h5 {
  margin-top: 1rem;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .copyright {
    height: 20vh;
  }
}
